<!DOCTYPE html>
<html lang="en">
<head>
<!--	<meta charset="utf-8">-->
<!--	<meta name="viewport"    content="width=device-width, initial-scale=1.0">-->
<!--	<meta name="description" content="">-->
<!--	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">-->
<!---->
<!--	<title>Portfolio - Progressus Bootstrap template</title>-->
<!---->
<!--	<link rel="shortcut icon" href="assets/images/gt_favicon.png">-->
<!---->
<!--	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200,400,600|Open+Sans:300,400,700">-->
<!--	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<!--	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
<!---->
<!--	<!-- Custom styles for our template -->
<!--	<link rel="stylesheet" href="assets/css/styles.css">-->
<!---->
<!--	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--	<!--[if lt IE 9]>-->
<!--	<script src="assets/js/html5shiv.js"></script>-->
<!--	<script src="assets/js/respond.min.js"></script>-->
<!--	<![endif]-->
</head>

<body class="page-portfolio">

    <!-- navbar -->
    <div class= "navbar navbar-dual navbar-inverse navbar-fixed-top headroom ontop-now">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="index.ctp">
                    <!--                <img src="../webroot/img/logos/test-1.jpg" alt="Progressus HTML5 template">-->
                    <!--                <img src="../webroot/img/logos/mbc.png" alt="Progressus HTML5 template" class="secondary">-->
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li class="active"><a href="venue">Venue</a></li>
                    <li><a href="members">Members</a></li>
                    <li><a href="sponsors">Sponsors</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a class="btn btn-rounded" href="signin.html">SIGN IN</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end of navbar -->

<!-- header (simple version) -->
	<div class="container">
		<h1 class="page-title text-center">Our Work
			<span>WE LOVE WHAT WE DO, AND PROUD OF THE WORK WE'VE DONE FOR OUR CLIENTS!</span>
		</h1>
	</div>
	<!-- end of header -->


	<!-- text -->
	<section class="container topspace">
		<div class="row">
			<div class="col-md-8 col-md-push-2 text-center">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facere laboriosam nisi, numquam ex at assumenda obcaecati quos eaque in perspiciatis, adipisci temporibus reprehenderit quae officiis voluptas alias placeat similique rerum eum! Qui cum fugiat excepturi.
			</div>
		</div>
	</section>
	<!-- end of text -->


	<!-- portfolio section -->
	<section class="section-portfolio topspace-2x">

		<!-- filters -->
		<div class="container">
			<ul class="portfolio-filters text-center">
				<li data-filter="*" class="active">All</li>
				<li data-filter=".ui">UI design</li>
				<li data-filter=".print">Print Design</li>
				<li data-filter=".dev">Development</li>
			</ul>
		</div>
		<!-- end of filters -->

		<!-- portfolio items -->
		<div class="container topspace bottomspace-3x">
			<div class="gallery" id="gallery">
				<figure class="effect-zoe print ui">
					<img src="../webroot/img/portfolio/1.jpg" alt="" width="300" height="316" />
					<figcaption>
						<h2 class="title">Project title</h2>
						<p class="links">
							<a href="http://www.gettemplate.com/portfolio.ctp?utm_source=progressus_pro&amp;utm_medium=template&amp;utm_content=portfolio&amp;utm_campaign=progressus_pro">Visit project</a> |
							<a href="portfolioitem.ctp">View Details</a>
						</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe ui">
					<img src="../webroot/img/portfolio/2.jpg" alt="" />
					<figcaption>
						<h2 class="title">Project title</h2>
						<p class="links">
							<a href="http://www.gettemplate.com/portfolio.ctp?utm_source=progressus_pro&amp;utm_medium=template&amp;utm_content=portfolio&amp;utm_campaign=progressus_pro">Visit project</a> |
							<a href="portfolioitem.ctp">View Details</a>
						</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe print">
					<img src="../webroot/img/portfolio/3.jpg" alt="">
					<figcaption>
						<h2 class="title">Project title</h2>
						<p class="links">
							<a href="http://www.gettemplate.com/portfolio.ctp?utm_source=progressus_pro&amp;utm_medium=template&amp;utm_content=portfolio&amp;utm_campaign=progressus_pro">Visit project</a> |
							<a href="portfolioitem.ctp">View Details</a>
						</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe print dev ui">
					<img src="../webroot/img/portfolio/4.jpg" alt="">
					<figcaption>
						<h2 class="title">Project title</h2>
						<p class="links">
							<a href="http://www.gettemplate.com/portfolio.ctp?utm_source=progressus_pro&amp;utm_medium=template&amp;utm_content=portfolio&amp;utm_campaign=progressus_pro">Visit project</a> |
							<a href="portfolioitem.ctp">View Details</a>
						</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe print dev">
					<img src="../webroot/img/portfolio/5.jpg" alt="">
					<figcaption>
						<h2 class="title">Project title</h2>
						<p class="links">
							<a href="http://www.gettemplate.com/portfolio.ctp?utm_source=progressus_pro&amp;utm_medium=template&amp;utm_content=portfolio&amp;utm_campaign=progressus_pro">Visit project</a> |
							<a href="portfolioitem.ctp">View Details</a>
						</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe ui print">
					<img src="../webroot/img/portfolio/6.jpg" alt="">
					<figcaption>
						<h2 class="title">Project title</h2>
						<p class="links">
							<a href="http://www.gettemplate.com/portfolio.ctp?utm_source=progressus_pro&amp;utm_medium=template&amp;utm_content=portfolio&amp;utm_campaign=progressus_pro">Visit project</a> |
							<a href="portfolioitem.ctp">View Details</a>
						</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe dev ui">
					<img src="../webroot/img/portfolio/7.jpg" alt="">
					<figcaption>
						<h2 class="title">Project title</h2>
						<p class="links">
							<a href="http://www.gettemplate.com/portfolio.ctp?utm_source=progressus_pro&amp;utm_medium=template&amp;utm_content=portfolio&amp;utm_campaign=progressus_pro">Visit project</a> |
							<a href="portfolioitem.ctp">View Details</a>
						</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe print ui">
					<img src="../webroot/img/portfolio/8.jpg" alt="">
					<figcaption>
						<h2 class="title">Project title</h2>
						<p class="links">
							<a href="http://www.gettemplate.com/portfolio.ctp?utm_source=progressus_pro&amp;utm_medium=template&amp;utm_content=portfolio&amp;utm_campaign=progressus_pro">Visit project</a> |
							<a href="portfolioitem.ctp">View Details</a>
						</p>
					</figcaption>
				</figure>
			</div> <!-- /gallery -->
		</div>
		<!-- end of portfolio items -->

	</section>
	<!-- end of portfolio section -->


<!--	<footer id="footer" class="">-->
<!---->
<!--		<div class="footer1">-->
<!--			<div class="container">-->
<!--				<div class="row">-->
<!---->
<!--					<div class="col-md-3 widget">-->
<!--						<h3 class="widget-title">Contact</h3>-->
<!--						<div class="widget-body">-->
<!--							<p>+234 23 9873237<br>-->
<!--								<a href="mailto:#">some.email@somewhere.com</a><br>-->
<!--								<br>-->
<!--								234 Hidden Pond Road, Ashland City, TN 37015-->
<!--							</p>-->
<!--						</div>-->
<!--					</div>-->
<!---->
<!--					<div class="col-md-3 widget">-->
<!--						<h3 class="widget-title">Follow us</h3>-->
<!--						<div class="widget-body">-->
<!--							<p class="follow-me-icons clearfix">-->
<!--								<a href=""><i class="fa fa-twitter fa-2"></i></a>-->
<!--								<a href=""><i class="fa fa-dribbble fa-2"></i></a>-->
<!--								<a href=""><i class="fa fa-github fa-2"></i></a>-->
<!--								<a href=""><i class="fa fa-facebook fa-2"></i></a>-->
<!--							</p>-->
<!--						</div>-->
<!--					</div>-->
<!---->
<!--					<div class="col-md-6 widget">-->
<!--						<h3 class="widget-title">Text widget</h3>-->
<!--						<div class="widget-body">-->
<!--							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>-->
<!--							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>-->
<!--						</div>-->
<!--					</div>-->
<!---->
<!--				</div> <!-- /row of widgets -->
<!--			</div>-->
<!--		</div>-->
<!---->
<!--		<div class="footer2">-->
<!--			<div class="container">-->
<!--				<div class="row">-->
<!---->
<!--					<div class="col-md-6 widget">-->
<!--						<div class="widget-body">-->
<!--							<p class="simplenav">-->
<!--								<a href="#">Home</a> |-->
<!--								<a href="about.html">About</a> |-->
<!--								<a href="sidebarright.ctp">Sidebar</a> |-->
<!--								<a href="contact.ctp">Contact</a> |-->
<!--								<b><a href="signup.html">Sign up</a></b>-->
<!--							</p>-->
<!--						</div>-->
<!--					</div>-->
<!---->
<!--					<div class="col-md-6 widget">-->
<!--						<div class="widget-body">-->
<!--							<p class="text-right">-->
<!--								Copyright &copy; 2014, Your name. Design: <a href="http://gettemplate.com/" rel="designer">GetTemplate</a>-->
<!--							</p>-->
<!--						</div>-->
<!--					</div>-->
<!---->
<!--				</div> <!-- /row of widgets -->
<!--			</div>-->
<!--		</div>-->
<!--	</footer>-->


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<!--	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<!--	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<!--	<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>-->
<!--	<script src="assets/js/headroom.min.js"></script>-->
<!--	<script src="assets/js/jQuery.headroom.min.js"></script>-->
<!--	<script src="assets/js/imagesloaded.pkgd.min.js"></script>-->
<!--	<script src="assets/js/isotope.pkgd.min.js"></script>-->
<!--	<script src="assets/js/template.js"></script>-->
	<script>
        jQuery(document).ready(function($) {
            // bind filter button click
            $('.portfolio-filters').on( 'click', 'li', function() {
                var filterValue = $( this ).attr('data-filter');
                $('.gallery').isotope({ filter: filterValue });
            });

            // init isotope lib, once all img are loaded
            $container = $('.gallery');
            imagesLoaded( '.gallery', function() {
                $container.isotope({itemSelector: 'figure', masonry: {} });
            });
        });
    </script>
</body>
</html>
